body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #4db8f7;
}

canvas {
  border: 1px solid black;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-container button {
  margin: 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.button-container button img {
  width: 100px;
  height: 100px;
}
