body {
    background-color: rgb(15, 15, 36);
    color: rgb(45, 139, 135);
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

h1.title {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(138, 17, 17);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}

.gallery a {
    margin: 10px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 20px;
}

footer img {
    max-width: 100%;
    height: auto;
}
