body {
    margin: 0;
    padding: 0;
    background-color: #0c0c0c; /* Default background color */
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #302b2b; /* Default header background color */
    color: #752020; /* Default title font color */
    padding: 20px;
    text-align: center;
  }
  
  h1.title {
    font-size: 36px; /* Default title font size */
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(18, 14, 77, 0.5); /* Add 3D effect */
  }
  
  /* Add more styles for the video gallery content here */
  .video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .video {
    max-width: 400px;
  }
  
  video {
    width: 100%;
  }
  